
#atmosphere-overlay {
  background-color: black;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  font: 200% sans-serif;
  user-select: none; /*Maybe a bit much...*/
  -webkit-user-select: none;
  cursor: default;
}

.obscured-text {
   color: transparent;
   text-shadow: 0 0 5px rgba(255,255,255,.4);
}
.machine-text {
  font-family: courier;
}

.large {
  font-size: 260%;
}

em {
  font-style: inherit;
}